.moles-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
	width: 50%;
}

.mole-container {
	width: 33%;
}

.mole {
	transition: 200ms;
	width: 80%;
	margin-bottom: 50px;
}

.mole.showing {
	transform: translateY(-50px);
}

.hidden {
	display: none;
}
