.header {
	max-height: 100vh;
	overflow-y: hidden;
	text-align: center;
	h1 {
		margin: 3rem 0 2rem;
	}
	span {
		display: block;
	}
	.header__mole-container {
		margin-top: 2rem;
		img {
			width: 50%;
		}
	}
}

@media (min-width: 299.98px) {
	.header {
		.device-decider {
			span {
				display: inline;
			}
		}
	}
}

@media (min-width: 401.98px) {
	.header {
		span {
			display: inline;
		}
	}
}
