@import url('https://fonts.googleapis.com/css2?family=Chango&family=Molengo&display=swap');

// fonts

$header-font: 'Chango', cursive;
$primary-font: 'Molengo', sans-serif; // The only font on Google Fonts with 'mole' in.

// colours

$white: #efefef;
$faded-white: #efefef22;
$grass: #24471e;
$faded-grass: #24471e99;
