.mole-container {
	.mole {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		transition: all 200ms cubic-bezier(0, 0, 0.5, 1);
		width: 60%;
	}
	&.showing .mole {
		transform: translate(-50%, -45%);
	}
}
